.log-viewer {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    
    padding: 10px;
    overflow: scroll;
    
    font-family: monospace;
    font-size: 12px;
}

.terminal {
    font-size: 12px !important;
}

.log-viewer .close {
    position: fixed;
    top: 5px;
    right: 30px;
    color: white;
    opacity: 1;
}

#test-display {
    position: fixed;
    top: 0px;
    left: 5px;
    right: 5px;
    
    padding: 2px;
    height: 60px;
    background: white;
    text-align: center;
}

#test-frame {
    position: fixed;
    top: 60px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    
    border: 0;
    background: white;
}

table td.actions {
    white-space:nowrap;
}

.stack-line {
    padding-left: 10px;
}

.stack-line.has-context {
    cursor: pointer;
}

.stack-line .context {
    display: none;
}

.context div.line {
    background: rgb(255, 255, 255);
}

.context div.line:nth-child(2n+1) {
    background: rgb(240, 240, 240);
}

.context div.line.middle {
    background: rgb(250, 250, 180);
}